APP_NAME="Arquiforma Construcción"
APP_ENV=production
APP_KEY=base64:4d14e343d76595449b05cb118181df184c9c75db
APP_TIMEZONE=UTC
APP_DEBUG=1

APP_DOMAIN=locahost:8181
APP_URL=http://locahost:8181
APP_API_URL=http://locahost:8181/api

APP_COOKIEID=arquiforma

APP_DB_CONNECTION=mysql
APP_DB_HOST=cont-lr-mysql
APP_DB_PORT=3306

APP_DB_DATABASE=db_localhost
APP_DB_USERNAME=root
APP_DB_PASSWORD=root

APP_EMAIL_FROM1=one@demo.com
APP_EMAIL_FROM2=two@demo.com
APP_EMAIL_TO=info@demo.com